@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: 18, 24, 27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 3, 13;
    --background-end-rgb: 0, 28, 76;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
}

.gradient-span {
  background: linear-gradient(
    to bottom,
    #7068F4, #FF64B4, #FFD94A
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.form-control {
  position: relative;
  display: inline-block;
}

.kbd {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  padding: 2px 4px;
}

.input {
  padding-left: 30px !important;
}

.hexagon {
  position: relative;
}

/*Notion*/
.notion__container .notion {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%) !important;
  min-height: 100px !important;
}

.notion__container .notion-header{
  display: none !important;
}

.notion__container .notion-frame{
  background: #12181B;
  color: white;

}

.notion__container .notion-collection-card{
  background: #161717;
  color: white !important;
}

.notion__container .notion-collection-card:hover{
  background: #161717;
}

.notion__container .notion-page-title-text{
  color: white !important;
}

.notion__container .notion-gallery-grid{
  border: none !important;
}